  .emoji-item-common {
    background: url("http://nacospicture.moguit.cn//blog/admin/png/2020/8/7/1596788970449.png");
    display: inline-block;
  }
  .emoji-item-common:hover {
     cursor: pointer;
   }
  .emoji-size-small {
    // 表情大小
    zoom: 0.3;
  }
  .emoji-size-large {
    zoom: 0.5; // emojipanel表情大小
    margin: 4px;
  }
  .noData {
    text-align: center;
    height: 25px;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 3%;
  }
  .icon_data {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    opacity: 1;
    margin-right: 10px;;
  }